@model Book

@{
    ViewData["Title"] = "Books";
}

<form method="post" asp-action="AddBook">
    <label asp-for="Title"></label>
    <input asp-for="Title" />
    <label asp-for="Author"></label>
    <input asp-for="Author" />
 
    <input class="btn btn-outline-success" type="submit" value="AddBook" />
    <a class="btn btn-outline-dark" asp-action="Index">Back</a>
</form>
