@model Book
    
@{
    ViewData["Title"] = "Books";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Author</td>
        </tr>
    </tbody>
</table>
<a asp-action="DeleteConfirm" asp-route-Id="@Model.Id" class="btn btn-primary">Delete</a>
<a class="btn btn-outline-dark" asp-action="Index">Back</a>

