@model List<Book>

@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    
    <ul>
        @foreach (Book book in Model)
        {
            <ol>@book.Title by @book.Author</ol>
        }

    </ul>

</div>
