@{
    ViewData["Title"] = "Stock";
}

<a asp-controller="Stock" asp-action="StockList" class="btn btn-outline-dark">Stock List</a>
<a asp-controller="Stock" asp-action="BrowseStock" class="btn btn-outline-dark">Browse stock</a>
